.well
  %table.table
    %tr
      %th
        Out
      %th
    %tr
      %td
        Netto
      %td
        %span.pull-right
          = number_to_currency @inbound_invoices_totals.taxable_income
    %tr
      %td
        Iva
      %td
        %span.pull-right
          = number_to_currency @inbound_invoices_totals.tax
    %tr
      %td
        Totale
      %td
        %span.pull-right
          = number_to_currency @inbound_invoices_totals.total