.well
  %table.table
    %tr
      %th
        In
      %th
    %tr.info
      %td
        Fatturato
      %td.right
        = number_to_currency @invoices_totals.taxable_income
    %tr
      %td
        Iva
      %td.right
        = number_to_currency @invoices_totals.tax
    %tr
      %td.italic
        Totale
      %td.right.italic
        = number_to_currency @invoices_totals.total
    %tr.error
      %td
        Da incassare
      %td.right
        = number_to_currency @to_receive
