.well
  %table.table
    %tr
      %th
        = t('views.dashboard.per_customer.invoiced')
      %th
    - @perCustomer.each do |c|
      %tr
        %td
          = c['customer']
        %td
          %span.pull-right
            = number_to_currency c['taxable_income']