%table
	%tr
		%td
			data
		- @formatted_activities.each do |a|
			%td
				= a.date
	%tr
		%td
			ore lavorate
		- @formatted_activities.each do |a|
			%td 
				= a.working_hours
	%tr
		%td
			ore permesso/ferie
		- @formatted_activities.each do |a|
			%td
				= a.holiday_hours
		