%table{:style=> 'border:#999 1px solid '}
	%tr
		%td{:style=> 'border:#999 1px solid '}
			data
		- @formatted_activities.each do |a|
			%td{:style=> 'border:#999 1px solid '}
				= a.date
	%tr
		%td{:style=> 'border:#999 1px solid '}
			ore lavorate
		- @formatted_activities.each do |a|
			%td{:style=> 'border:#999 1px solid '}
				= a.working_hours
	%tr
		%td{:style=> 'border:#999 1px solid '}
			ore permesso/ferie
		- @formatted_activities.each do |a|
			%td{:style=> 'border:#999 1px solid '}
				= a.holiday_hours
		