%h1 edit
%fieldset
  %legend 
    = "Edit invoice: #{@invoice.number}"
  = render 'form'

= content_for :side_bar do
  .well.sidebar-nav
    %h3 Totals
    %table
      %tr
        %td Taxable income:
        %td#taxable-income.right
          999
      %tr
        %td Tax:
        %td#tax.right
          888
      %tr
        %td Total:
        %td#total.right
          777
       