%fieldset
  %legend 
    = "New job order"
  
  = render 'form'


= content_for :side_bar do
  .well.sidebar-nav
    %ul.totals.info-panel
      %li Totale ore
      %li#taxable-income.amount
    %hr
    %ul.info-panel
      %li
        %a.btn.btn-primary#save-form salva
