@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300);
@import url(http://fonts.googleapis.com/css?family=Delius+Swash+Caps);

$navbarBackGroundColorActive: #453540; //make lighter
$navbarBackGroundColor: #453540;
$sidebarBackgroundColor: #f5f5f5;
$disabledColor: #cbcbcb;
$enabledColor: #47A447;

// Fresh red: A41832
// Yellow: F6BE29
// Green: A2DC16
// Blue: 02808F
// Purple: 453540

html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.1;
    color: #02808F;
    margin-bottom: 20px;
}

.container{
  margin: 50px 50px 0px 50px;
  max-width: 2000px;
}

th,td,.table-bordered {
  border-radius: 0!important
}
.table thead tr {
  color: #707070;
  font-weight: normal;
  background: #f2f2f2;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top,#f8f8f8,#ececec);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#f8f8f8),to(#ececec));
  background-image: -webkit-linear-gradient(top,#f8f8f8,#ececec);
  background-image: -o-linear-gradient(top,#f8f8f8,#ececec);
  background-image: linear-gradient(to bottom,#f8f8f8,#ececec);
  background-repeat: repeat-x;
  
}
.table thead tr th {
  border-color: #DDD;
  font-weight: normal;
}
.table thead tr th:first-child {
  border-left-color: #f1f1f1
}
.table thead tr th:left-child {
  border-right-color: #f1f1f1
}
.table.table-bordered thead tr th {
  vertical-align: middle
}
.table.table-bordered thead tr th:first-child {
  border-left-color: #DDD
}
.table.table-hover tbody tr:hover td {
  background-color: #f1f1f1
}

.table th.symbol, .table td.symbol {
  width: 20px;
}
.table th.symbol > i.disabled, .table td.symbol > i.disabled {
  color: $disabledColor;
}
.table th.symbol > i.enabled, .table td.symbol > i.enabled {
  color: $enabledColor;
}
#wrap > .content {
    padding: 45px 0 0;
}

.navbar-inverse {
  border-color: $navbarBackGroundColor;
}
.navbar {
  background-color: $navbarBackGroundColor;
  border-radius: 0;
  min-height: 45px;
  height:45px;
  .navbar-inner {
    min-height: 45px;
  }

  a.navbar-brand {
      color: #EEEEEE;
      font-size: 24px;
  }

  .navbar-inverse {
    border-color: $navbarBackGroundColorActive;
    .navbar-nav > .active > a,
    .navbar-nav > .active > a:hover,
    .navbar-nav > .active > a:focus {
      color: #ffffff;
      background-color: $navbarBackGroundColorActive;
    }
  }
}

.nav{
  li{
    a{
      color: #ffffff !important;
    }
  }
}
ul.list-group-orizontal{
  list-style: none;
  li{
    display: inline;
  }
}

.dropdown-button{
  width:50px;
  height:50px; 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #0088cc;
}

.sidebar-row{
  margin-bottom: 30px;
}

ul.info-panel{
  padding: 0;
  text-align: right;
  list-style: none;
  font-size: 1.2em;
  .header{
    font-weight: bold;
  }
  .amount{
    margin-bottom: 5px;
  }
}

span.fixed-size{
  width: 100px;
  display: block;
}

table.items{
  thead{
    tr{
      background-image: none;
      background: #FFFFFF;
    }
  }
  tbody{
    tr{
      td:first-child{
        width: 80%;
      }
    } 
  }
}
ul.info-panel{
  li.center{
    text-align:center;
    margin-bottom: 5px;
    span{
      display:inline;
    }
  }
}

form.well{
  button{
    margin-top:25px;
  }
}

.timer{
  margin-top:20px;
  div{
    min-height: 110px;
  }
}

span.user{
  color: #FFFFFF;
  span{
    margin-left: 10px;
  }
  img{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25em;
    -moz-border-radius: 25em;
    border-radius: 25em;
  }
}

.logo{
  font-family: 'Delius Swash Caps', cursive;
  font-size: 9em;
  text-align: center;
  font-weight:bold;
}

.navbar-brand{
  font-family: 'Delius Swash Caps', cursive;  
  line-height: 15px;
}


.expenses-column{
  color: #02808F;
  text-align: center;
}
.dashboard-panel{
  height: 54px;
}

.dashboard-tabs{
  li{
    a{
      color: #000000 !important;
    }
  }
}

.weekly-td{
  width: 70px;
}
.weekly-hour{
  width: 45px;
}