// Place all the styles related to the Invoice controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
li span.right{
  margin: auto;
  text-align: right;
}
ul.totals{
  list-style: none;
  li{
    margin-top: 30px;
  }
}

li.amount{
  font-size: 3em;
  text-align: right;
}

