.row.sidebar-row
  %a.btn.btn-info.btn-block.btn-lg#save-form{:href => ''}
    Save
.row.sidebar-row
  .panel.panel-default
    .panel-heading
      %h3.panel-title.text-center Riepilogo
    .panel-body
      %ul.info-panel
        %li.header Imponibile
        %li.amount{:id => 'taxable-income'}
          123
        %li.header IVA
        %li.amount{:id => 'tax'}
          456
        %li.header Totale
        %li.amount{:id => 'total'}
          789
    .panel-heading
      %h3.panel-title.text-center Stato
    .panel-body
      %ul.info-panel
        %li.center
          'asd'
        %li.center
          'der'


  


 