%div{'ng-controller' => 'TrackerCtrl'}
  .row-fluid
    .span3
      = select_tag :job_order, '', 'ng-model' => 'job_order_id', 'ng-options' => 'j.id as j.code for j in jobOrders'
    .span3
      = select_tag :activity, '', 'ng-model' => 'job_order_activity_id', 'ng-options' => 'j.id as j.description for j in jobOrderActivities'
    .span4
      %textarea{'ng-model' => 'notes'}
    .span2
      %button.btn.btn-block{'ng-click' => 'start()', 'class' => '{{cssClass}}'} {{operation}}
  .row-fluid
    .span12.well
      %h2.text-center {{timer}}
      %h5.text-center{'ng-show' => 'isStarted()'} Attività iniziata alle {{startTime}}
      %h5.text-center{'ng-show' => 'isCompleted()'} Attività iniziata alle {{startTime}} e terminate alle {{stopTime}}
      
  .row-fluid
    .span12
      %table.table.table-bordered
        %thead
          %tr
            %th Commessa
            %th Attività
            %th Note
            %th Tempo
            %th
            %th
        %tbody
          %tr{'ng-repeat' => 'a in activities', 'row-color' => '{{$index}}'}
            %td
              {{a.jobOrder}}
            %td
              {{a.activity}}
            %td
              {{a.notes}}
            %td
              {{a.time}}
              %br
              %p.muted {{a.start_time}}-{{a.stop_time}}
            %td
              %a{:href => "#", "ng-click"=> "delete(a)"}
                %i.icon-trash.icon-large.text-error
            %td
              %button.btn{'ng-click' => 'start(a)'} Riprendi
              
  = content_for :side_bar do
    .well.sidebar-nav{'ng-controller' => 'TrackerSideBarCtrl'}
      %button.btn.btn-info.btn-block{'ng-click' => 'saveAll()'} salva tutto
      %br
      %button.btn.btn-block{'ng-click' => 'deleteAll()'} cancella tutto
      %hr
      %ul.totals.info-panel
        